NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up 
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard 
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard 
NEXT_PUBLIC_LIVE_URL=localhost:3000

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c21hc2hpbmctZG9lLTk1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_NFvIHXOzmNdzYp6o59WDQArX87J2Gw3ItGyuFNyWEs

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qsiluivbqigakeisuaym.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_f6g3RM3EKBbVnoT2mSbw3w_FOGKu5PI

# Retell AI
RETELL_API_KEY=

# OpenAI
OPENAI_API_KEY=
